@tailwind base;
@tailwind components;
@tailwind utilities;
#header-list {
  cursor: pointer;
}
#header-list:hover {
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

@layer components {
  .btn-primary-large {
    @apply px-4 py-2 tracking-wider bg-[#FF8956] text-black font-semibold shadow-sm hover:bg-[#ff7a41] focus:outline-none focus:ring-2 focus:ring-[#FF8956] focus:ring-opacity-75;
  }
  .btn-secondary-large-no-color {
    @apply px-4 py-2 tracking-wider bg-[#FF8956] text-black font-semibold shadow-sm hover:bg-[#ff7a41] focus:outline-none focus:ring-2 focus:ring-[#FF8956] focus:ring-opacity-75;
  }
}
